@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Crimson+Text&display=swap');

body{
    font-family: 'Crimson Pro', serif;
    background-color: rgb(187, 200, 224);
}

.center-div{
    padding-top: 10%
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0 3em;
}

#login .title > span{
    font-size: .9em;
}

.btn.btn-success{
    margin-top: 15px;
}